extends layout

block head
   script(type="text/javascript" src="js/jquery-1.11.3.min.js" charset="utf-8")
   script(type="text/javascript" src="js/bootstrap.min.js" charset="utf-8")
   link(rel='stylesheet', href='/css/bootstrap.min.css')
   
block content
   div.container
      div.row
         div.col-md-6.col-md-offset-3
            h1 Hello World
      div.row
         div.col-md-6.col-md-offset-3
            button(type="button" class="btn btn-success" id="show-metrics") Bring the metrics
            #metrics
            
   script
      :coffee-script
         $('#show-metrics').click (e) ->
            e.preventDefault()
            $.getJSON "/metrics.json", {}, (data) ->
               content = ""
               for d in data
                  content += "<p>timestamp: #{d.timestamp}, value: #{d.value}</p>"
               $('#metrics').html content