doctype html
html
   head
      script(type="text/javascript" src="js/jquery-1.11.3.min.js" charset="utf-8")
      script(type="text/javascript" src="js/bootstrap.min.js" charset="utf-8")
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      title My Web Page
      block head
   body   
      block content
      block footer
         button.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout